<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <title>Port-to-Port Distance Calculator</title>
    
    <style>
        img {position: absolute;top: 0px;right: 0px;}
        h1 {text-align: center;}
        h2 {text-align: center;}
        h3 {text-align: center;}
        form {text-align: center;}
        table { margin-left: auto; margin-right: auto;}
        div {text-align: center;}
        .form-control-one {width: 15rem; height: 2rem;}  
        .form-control-two {width: 15rem; height: 2rem;}  
    </style>
</head>

<body style="background-color:#ADD8E6;">
    <h1>All Routes</h1>
    {% load static %}
    <img style="width: 390px; height: 100px;" src="https://raw.githubusercontent.com/salam-karadsheh/BLT/master/distancecalc/static/images/logo.png" alt="My image">
    <h2><a class="btn btn-primary" href="/routes">Routes Within a Range</a></h2>
    <h2><a class="btn btn-primary" href="/">Intra-Asia Routes</a></h2>
    <form method="GET" action=".">
        <input class="form-control-one" type="search" placeholder="Starting Point" name="starting_point" size="30" list="countries">
            <datalist id="countries">
                {% for result in countries %}
                    <option value="{{ result}}">
                {% endfor %}
            </datalist>
        <input class="form-control-two" type="search" placeholder="Ending Point" name="ending_point" size="30" list ="countries" >
            <datalist id="countries">
                {% for result in countries %}
                    <option value="{{ result}}">
                {% endfor %}
            </datalist>
        <button class="primary" type="submit">Search</button>
    </form>

    <h3>Route: <span style="color: #000080"> {{ route }} </span> </h3>
    <h3>Distance (NM): <span style="color: #000080"> {{ distance }} </span> </h3>
    <h3>Port-to-Port Transit Time: <span style="color: #000080"> {{ ptp_time }} </h3>
    <h3>Door-to-Door Transit Time: <span style="color: #000080"> {{ dtd_time }}</h3>
    
</body>

